.embla {
  width: 100%;
  height: 100vh;
  margin: 0;
  --slide-size: 100%;
  --slide-spacing: 0rem;
  position: relative; 
  z-index: 0; 
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  height: 100%;
}

.embla__slide {
  flex: 0 0 100%;
  height: 100vh;
  padding-left: 0;
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__controls {
  position: absolute;
  bottom: 40px;        
  left: 50%;
  transform: translateX(-50%);
}

.embla__dots {
  display: flex;
  gap: 12px;           
}

.embla__dot {
  all: unset;          
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__dot:after {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: transparent;  
  border: 2px solid #d3d3d3;         
  transition: border-color 0.3s;
}

.embla__dot--selected:after {
  background-color: #d3d3d3; 
}
